<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hangman</title>
</head>
<body>
	<p>
		<form>
		</form>
	</p>

	<p>
		<%= secret_word %>
		<br><br>
		<%= turn %>
		<br><br>
		<%= Sinatra1.display_board %>


		<form>
			<input type="text" name="letter">
		</form>
	</p>	

</body>
</html>