<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hangman</title>
</head>
<body>
	<p>
		<form>
		</form>
	</p>

	<p>
		<%= Sinatra1.secret_word %>
		<br><br>
		Turn: <%= Sinatra1.turn %>
		<br><br>
		<%= Sinatra1.display_board %>
		<% if Sinatra1.check_victory == true %>
		<br><br>
			<%= "You win!" %>
			<% Sinatra1.reset %>
		<% end %>

		<form>
			<input type="text" name="letter">
			<input type="submit" value="Submit">
		</form>
	</p>	

</body>
</html>